<html>
    <body style= "background: rgb(128, 151, 201)"></body>
        <h1>House Price Prediction</h1>
        <form action="/pricePrediction" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>
            UNDER_CONSTRUCTION :</td><td><input type="text" name="construction" /> 
            </td> </tr>
            <tr>
            <td>
            Rera approved or Not : </td><td><input type="text" name="rera"   placeholder="RERA"/></td> </tr>
           
            <tr>
                <td>Number of Rooms : </td><td><input type="text"  name="bhk_no" placeholder="BHK_NO"/></td> </tr>
         
            <tr>
                <td>Total area of the house in square feet : </td><td><input type="text"  name="sq_ft" placeholder="SQUARE_FT"/>
                </td> </tr>
            <tr>
                <td>Category marking Ready to move or Not : </td><td><input type="text" name="move"  placeholder="READY_TO_MOVE "/>
                </td> </tr>
            <tr>
                <td>Category marking Resale or not : </td><td><input type="text" name="resale"  placeholder="RESALE"/>
                </td> </tr>
           <tr>
                <td>Longitude of the property :</td><td><input type="text" name="longt"  placeholder="LONGITUDE"/></td> </tr>
          
            <tr>
                <td>Latitude of the property : </td><td><input type="text" name="lat" placeholder="LATITUDE"/></td> </tr>
       
            <tr>
                <td>
            <button type="submit" > Predict Price
            </button>
        </td></tr>
    </tbody>
</table>

</form>
        {{predicted_price}}

    </body>
</html>